[submodule "docs"]
	path = docs
	url = https://github.com/PawelGerr/Thinktecture.EntityFrameworkCore.wiki.git
[submodule "agent-skills"]
	path = agent-skills
	url = https://github.com/PawelGerr/agent-skills.git
